.App {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 20px;
}

.converter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: aqua;
}